html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  flex: 2 auto auto;

  padding: 10px;
  margin: 10px;

  border: 2px solid powerblue;
}

hr {
  color: black;
  border: 1px solid black
}

section {
  display: flex;
  align-items: center;
}

article {
  padding: 10px;
  margin: 10px;
  background: aqua;
  flex: 1;
}

h1 {
  text-align: center;
  margin: 0;
  line-height: 100px;
  font-size: 300%;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 150%;
}

h3 {

  margin: 0;
  font-size: 125%;
}

p {
  margin: 0;
}